body{
background-color: rgb(121, 77, 223);
}

*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.calculadora{
display:block;
margin:0 auto;
padding:20px;
background-color:#24b769;
width:360px;
height:500px;
border-radius:10px;
}

.calculadora td button{
    display:block;
    width:70px;
    height:70px;
    font-size:25px;
}

#resultado{
    display:block;
    text-align:center;
    font-size:40px;
    margin-bottom:50px;
    width:320px;
    height:100px;
    line-height:100px;
    background-color:#FFFF;
    border-radius:10px;
    overflow:auto;
}